#container-catalogo{
    width: 500px;
    margin: auto;

}
.vacio{
    text-align: center;
}
.tarjeta-producto{
    display: flex;
    gap: 20px;
    align-items: center;
}

.tarjeta-producto img{
    height: 100px;
    aspect-ratio: 1.2;
}
.tarjeta-producto h3{
    width: 130px;
}

#totales{
    text-align: center;
}