* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
a{
    text-decoration: none;
}
body {
    font-family: 'Space Grotesk', sans-serif;
    background-color: #212e42;
    padding-top: 80px;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:15%;
    height: 70px;
    top: 0;
    position: fixed;
    width: 100%; 
    background-color: #212e42;
}
#contadorCarrito{
    background-color: #2D4263;
    border-radius: 100%;
    display: inline-block;
    width: 20px;
    line-height: 20px;
    aspect-ratio: 1;
    text-align: center;
}
.carrito{
    filter: invert(100%);
    width: 45px;
    height: auto;
}

#container-catalogo{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: auto;
}

.tarjeta-producto{
    max-width: 300px;
    text-align: center;
    background-color: #2D4263;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}
.tarjeta-producto:hover{
    translate: 0 -5px ;
    box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.tarjeta-producto img{
    width: 100%;
    border-radius: 10px 10px 0 0;
    aspect-ratio: 1.2;
}

h3, p {
    margin: 10px 0;
}

button{
    background-color: #263143;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: #141C29;
}

/* .contenedor{
    display: flex;
    justify-content: center;

    margin-bottom: 20px;
}
.contenedor>div{
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    background-color: #2D4263;
    border-radius: 20px;
}
.contenedor>div:hover{
    background-color: #11294d;
}

.informacion{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:15px;
}
.informacion>p:first-child{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 300;
}
.informacion .precio {
    font-size: 20px;
    font-weight: 500;
}
.informacion .precio span{
    font-size: 17px;
    font-weight: 300;
}
.informacion button{
    background-color: #263143;
    width: 100px;
    height: 35px;
    border-radius: 10px;
    border: none;

    font-size: 17px;
    font-weight: 300;
    cursor: pointer;
}
.informacion button:hover{
    background-color: #2D4263;
} */